@import '{}/imports/ui/stylesheets/variables.scss';
@import '{}/imports/ui/stylesheets/fonts.scss';
@import '{}/imports/ui/stylesheets/util.scss';
@import '{}/imports/ui/stylesheets/mark-style.scss';

body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

html {
  overflow: hidden;
}

body {
  overflow: hidden;
  // position: relative;
}

.text {
  font-family: $theme-font;
}

.sub-text {
  font-family: $theme-subfont;
}

@import '{}/client/priceDetails/_priceDetails_style.scss';
@import '{}/client/watchList/_watchList.scss';
