.watch-list-main-container {
  font-family: 'San Francisco', Helvetica, 'Helvetica Neue', san-serif;
  font-weight: 300;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  >.title {
    // background-color: $black;
    font-size: 1.8rem;
    padding: 16px 16px 8px 16px;
    color: darken($theme-color, 30%);
    letter-spacing: 0.05rem;
    border-bottom: 1px solid $grey-4;
  }

  .decor {
    height: 2px;
    background-color: $theme-color;
  }

  .content-container {
    padding: 0 16px;
    .stock-cell {
      padding: 8px;
      @extend %flex-column-container;
      margin: 16px 0;
      // box-shadow: 0 0 8px 0 rgba(0,0,0,0.1);

      .title {
        font-size: 1.2rem;
        padding: 8px 0;
        border-bottom: 1px solid $grey-3;
        @extend %flex-row-container;
        justify-content: space-between;
        align-items: center;

        .remove-btn {
          padding: 2px 8px;
          cursor: pointer;
          color: $theme-color;
        }

        .name {
          font-weight: 400;
          color: darken($theme-color, 30%);
          letter-spacing: 0.05rem;
        }

        .number {
          font-size: 0.8rem;
          color: $grey-5;
          margin-right: 8px;
        }
      }
    }
  }

  .cell {
    @extend %flex-row-container;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    border-bottom: 1px solid $grey-2;

    .label {
      text-transform: uppercase;
      font-size: 0.7rem;
      font-weight: 300;
      letter-spacing: 0.05rem;
      color: $grey-4;
    }
    .value {
      font-size: 1.1rem;
    }
  }
}
