//Definition for OpenSans

@font-face {
    font-family: 'OpenSans';
    src: url('font/opensans/OpenSans-ExtraBold.ttf');
    font-style: normal;
    font-weight: 800;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'OpenSans';
    src: url('font/opensans/OpenSans-Bold.ttf');
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'OpenSans';
    src: url('font/opensans/OpenSans-SemiBold.ttf');
    font-style: normal;
    font-weight: 600;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'OpenSans';
    src: url('font/opensans/OpenSans-Regular.ttf');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'OpenSans';
    src: url('font/opensans/OpenSans-Light.ttf');
    font-style: normal;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

//Definition for Montserrat

@font-face {
    font-family: 'Montserrat';
    src: url('font/montserrat/Montserrat-Black.otf');
    font-style: normal;
    font-weight: 900;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Montserrat';
    src: url('font/montserrat/Montserrat-ExtraBold.otf');
    font-style: normal;
    font-weight: 800;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Montserrat';
    src: url('font/montserrat/Montserrat-Bold.otf');
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Montserrat';
    src: url('font/montserrat/Montserrat-SemiBold.otf');
    font-style: normal;
    font-weight: 600;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Montserrat';
    src: url('font/montserrat/Montserrat-Regular.otf');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Montserrat';
    src: url('font/montserrat/Montserrat-Light.otf');
    font-style: normal;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Montserrat';
    src: url('font/montserrat/Montserrat-UltraLight.otf');
    font-style: normal;
    font-weight: 200;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Montserrat';
    src: url('font/montserrat/Montserrat-Hairline.otf');
    font-style: normal;
    font-weight: 100;
    text-rendering: optimizeLegibility;
}
