
%flex-bare-container {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  display: -webkit-flex;
}

%flex-row-container {
  @extend %flex-bare-container;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          flex-direction: row;
}

%flex-column-container {
  @extend %flex-bare-container;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          flex-direction: column;
}

%reset-button-style{
  background-color: #fff;
  border: none;
  box-shadow: none;
  outline: none;
  padding: 0;
  margin: 0;
  font: sans-serif;
}

%card-style{
  // box-shadow: 0 0 5px 3px rgba(82, 77, 223, 0.5);
  border-radius: 20px;
}

%no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin aspect-fit-container($aspectRatio, $maxWidth: 0, $width: 0, $height: 0) {
  position: relative;
  line-height: 0;

  @if $width !=0 and $height !=0 {
    $aspectRatio : $width / $height;
  }

  @if $maxWidth != 0 {
    max-width: $maxWidth;
    max-height: $maxWidth / $aspectRatio;
  }

  @content;


  &:before {
    content: '';
    padding-top: 100% / $aspectRatio;
    display: inline-block;
  }
}

@mixin absolute-positioning($positioning) {
  position: absolute;

  @if length($positioning) > 4 {
    @warn "Invalid input";
    @return false;
  }

  $length: length($positioning);

  @if $length == 1 {
    $value: nth($positioning, 1);
    top: $value;
    right: $value;
    bottom: $value;
    left: $value;
  } @else if $length == 2 {
    $vertValue: nth($positioning, 1);
    $horiValue: nth($positioning, 2);
    top: $vertValue;
    right: $horiValue;
    bottom: $vertValue;
    left: $horiValue;
  } @else if $length == 4 {
    top: nth($positioning, 1);
    right: nth($positioning, 2);
    bottom: nth($positioning, 3);
    left: nth($positioning, 4);
  } @else {
    @warn "Invalid input";
    @return false;
  }
}

.btn-with-icon {
  @extend %flex-row-container;
  justify-content: center;
  align-items: center;
  background-color: $white;
  font-family: $theme-font;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;

  .btn-icon {
    $size: 18px;
    width: $size;
    height: $size;
    margin-right: 8px;
  }

  span {
    margin-left: 8px;
  }
}
